* {
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: url('pexels-alifia-harina-2779349.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    flex-wrap: wrap;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(black)70%);
    position: absolute;
    top: 100px;
    left: 400px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #1b4d89;
    font-size: 22px;
    background-color: bisque;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid olivedrab;
    border-top: none;
    border-right: none;
    border-left: none;
    color: beige;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: whitesmoke;
    font-family: arial;
}